.btn {
  display: block;
  padding: 15px 20px 10px;
  margin-top: 10px;
  width: 50%;
  background-color: $color-white;
  color: $color-black;
  font-weight: $normal;
  font-size: $font-size-xxs;
  text-align: center;
  letter-spacing: 1px;
  transition: 0.25s;
  box-shadow: 0.7rem 0.7rem 0 0 $color-secondary,
    inset 0.7rem 0.7rem 0 $color-secondary;
  z-index: 1000;

  &:hover,
  &:focus {
    padding: 10px 20px;
    color: $color-white;
    box-shadow: 0 0 0 0 $color-secondary, inset 12rem 7rem 0 0 $color-secondary,
      0 0 2px lighten(black, 20%);

    @include orientation(landscape) {
      padding: 10px 15px;
    }
  }

  @include orientation(landscape) {
    padding: 15px 15px 10px;
    width: 25%;
  }

  @include screen(tablet) {
    width: 30%;
    font-size: $font-size-xs;
    margin-top: 20px;

    @include orientation(landscape) {
      font-size: $font-size-xxs;
    }
  }

  @include screen(desktop) {
    width: 18%;
    font-size: $font-size-xs;
  }

  @include screen(large) {
    font-size: $font-size-s;
  }
}
