html {
  box-sizing: $box-sizing;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #000000;
}

::placeholder {
  color: darken($color-white, 30%);
}
